<h1>Userdaten</h1>
<p *ngIf="!userList"><em>Liste wird geladen...</em></p>
<p>
    <a [routerLink]="['/register-user']">Neuen User erstellen:</a>
</p>

<div>
    <table class='table' *ngIf="userList">
        <thead>
            <tr>
                <th>ID</th>
                <th>Vorname</th>
                <th>Nachname</th>
                <th>Geschl&auml;cht</th>
                <th>Alter</th>
                <th>Wohnort</th>
                <th>Mail</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of userList">
                <td>{{ user.id }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.gender }}</td>
                <td>{{ user.age }}</td>
                <td>{{ user.city }}</td>
                <td>{{ user.mail }}</td>
                <td>
                <td>
                    <a [routerLink]="['/user/edit/', user.id]">Bearbeiten</a> |
                    <a [routerLink]="" (click)="delete(user.id)">Löschen</a> |
                    <a [routerLink]="" (click)="send(user.mail)">Sende Mail</a>
                </td>
                <td>
                    <a [routerLink]="" (click)="add(user.id)">Poolauto Informationen anzeigen</a>
                </td>
            </tr>
        </tbody>
    </table>
    <div *ngIf="showCar" class="content">
        <div>
            <h4>Gew&auml;hlter User: {{ selectedUser.lastname }}</h4>
            <hr />
            <showCarChild [item]="selectedUser"></showCarChild>
        </div>
    </div>
</div>