<h1>Userdaten</h1>
<p *ngIf="!userList"><em>Loading...</em></p>
<p>
    <a [routerLink]="['/register-user']">Neuen User erstellen:</a>
</p>

<div>
    <table class='table' *ngIf="userList">
        <thead>
            <tr>
                <th>ID</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Gender</th>
                <th>Age</th>
                <th>City</th>
                <th>Mail</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of userList">
                <td>{{ user.id }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.gender }}</td>
                <td>{{ user.age }}</td>
                <td>{{ user.city }}</td>
                <td>{{ user.mail }}</td>
                <td>
                <td>
                    <a [routerLink]="['/user/edit/', user.id]">Bearbeiten</a> |
                    <a [routerLink]="" (click)="delete(user.id)">Löschen</a>
                    <a [routerLink]="" (click)="send(user.mail)">Sende Mail</a>
                </td>
            </tr>
        </tbody>
    </table>
    <div style="text-align: center;">
        <img src="../../../../Resources/AllData.png"   style="width:50%"/>
    </div>
</div>